* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}